body {
  background-color: #000;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background-image: url('/img/login/fondo.png');
  background-size: contain;
}

.registro-container {
  width: 100%;
  max-width: 1000px;
}

.img-logo{
  width: 150px;
  object-fit: cover;
}


.button {
  width: 200px;
  background-color: #C44090;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 5px 8%;
  text-decoration: none;
  scale: 1;
  transition: .2s;
}
.button:hover{
  color: #fff;
  transition: .2s;
  scale: 1.02;
}