/* Index */
body{
  background-color: #1C1E23;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  height: 100vh;
}

.main{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  background-image: unset;
  height: auto;
}

.destacados{
  background-image: url('/img/index/destacados/fondo.jpg');
  background-size: cover;
  height: 550px;
}

.carousel {
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.274);
}

.carousel__container{
  max-width: 900px;
}

.carousel__container div{
  max-height: 400px;
}

.cat-title, .prub-title {
  color: #C44090;
}

.cards{
  display: grid;
  margin: 0 auto;
  gap: 36px;
  justify-content: center;
  grid-auto-rows: 420px;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 20rem), 250px));
}

.card-custom{
  position: relative;
  max-width: 300px;
  max-height: 420px;
  overflow: hidden;
}
.card-custom a {
  position: absolute;
  text-decoration: none;
  display: flex;
  background-color: transparent;
  height: 100%;
  width: 100%;
  transition: .2s;
}

.card-custom a:hover {
  transition: .2s;
  background-color: #1c1e23b2;
}

.card-custom a h1{
  color: transparent;
  margin: auto;
  transition: .2s;
}
.card-custom a:hover h1 {
  transition: .2s;
  color: #fff;
}

.card-custom img{
  object-fit: cover;
}


.fondo-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
