
.main{
  background-color: #000;
  margin: 0 auto;
  width: 100%;
  background-image: url('/img/login/fondo.png');
  background-position: center;
  background-size: contain;
}

.login-container{
  width: 100%;
  max-width: 700px;
}

.label-username{
  color: #C44090;
}

.button-login{
  background-color: #C44090;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 5px 8%;
}

.forget-link:hover{
  color: #fff !important;
  transition: .2s;
}