footer{
  background-color: #171A21;
}
footer .copy{
  max-width: 1200px;
  width: 100%;
  background-color: #171A21;
}

.logo-footer{
  background-image: url('/img/footer/Logo.png');
  background-size: cover;
  background-position: 0px -25px;
  width: 120px;
  min-height: 70px;
}

.footer-link{
  text-decoration: none;
  transition: .2s;
}
.footer-link:hover{
  transition: .2s;
  color: #C44090 !important;
}